<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="https://joywell.oss-cn-hangzhou.aliyuncs.com/huojia%2Flogo%2Fhuo%20jia_40X40.ico">
    <title>{% block title %}title{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
{% block body %}{% endblock %}
</html>
